.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* =====================================================================
 */

.form{
  width: 1070px;
  margin: auto;
  display: flex;
   gap: 20px;
  height: 40px;
 }

 .form input{
  flex-basis: 80%;
 }

 .form button{
  flex-basis: 20%;
 }

 .outerDiv{
  width: 1070px;
  margin: auto;
  padding: 10px;
  
 }

 .outerDiv ul{
  margin: 0;
  list-style: none;
  padding: 0;
  margin-top: 30px;


 }

 .outerDiv ul li {
  padding: 10px;
  background-color: rgba(94, 107, 88, 0.671);
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: azure;
  text-align: left;
   letter-spacing:0.1vmin;
   margin-bottom: 20px;
 }

 span{ 
  position: absolute;
  right: 20px;
  cursor: pointer;
 }

 .line{
  text-decoration: line-through;
  color: blue !important;
 }


